
@{
    ViewBag.Title = "ErrorMessage";
}

<h2>ErrorMessage</h2>
<hr />
<br />
<div class="whiteB">
    <p>The page you were looking for could not be found. Please go back to the main page or try the using the back button.</p>
</div>

